.card-category {
  background-image: url('../../images/breakfast.jpg');
  background-size: cover;
  width: 300px;
  height: 200px;
  color: #ffffff;
  border-radius: 8px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-product {
  background-color: #fff;
  width: 600px;
  height: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.card-product img {
  width: 200px;
}

.card-trip {
  background-color: #fff;
  width: 600px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
  margin: 20px auto;
}

.card-trip img {
  width: 100%;
}

.card-trip-info {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
